NEXT_PUBLIC_SITE_URL=https://www.luckyservicescentre.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_META_PIXEL_ID=1878669712790622
NEXT_PUBLIC_GA_MEASUREMENT_ID=
WHATSAPP_BOOKING_NUMBER=8801605564270
